global
    maxconn 4096
    nbproc 1
    nbthread 4

defaults
    mode                tcp
    # Timeout values should be configured for your specific use.
    # See: https://cbonte.github.io/haproxy-dconv/1.8/configuration.html#4-timeout%20connect
    timeout connect     10s
    timeout client      30m
    timeout server      30m
    # TCP keep-alive on client side. Server already enables them.
    option              clitcpka

listen cockroach-db
    bind :5432
    mode tcp
    balance roundrobin
    option httpchk GET /health?ready=1
    server east-1 east-1:26257 check port 8080
    server east-2 east-2:26257 check port 8080
    server east-3 east-3:26257 check port 8080
    server central-1 central-1:26257 check port 8080
    server central-2 central-2:26257 check port 8080
    server central-3 central-3:26257 check port 8080
    server west-1 west-1:26257 check port 8080
    server west-2 west-2:26257 check port 8080
    server west-3 west-3:26257 check port 8080

listen cockroach-ui
    bind :8080
    mode tcp
    balance roundrobin
    option httpchk GET /health?ready=1
    server east-1 east-1:8080 check port 8080
    server east-2 east-2:8080 check port 8080
    server east-3 east-3:8080 check port 8080
    server central-1 central-1:8080 check port 8080
    server central-2 central-2:8080 check port 8080
    server central-3 central-3:8080 check port 8080
    server west-1 west-1:8080 check port 8080
    server west-2 west-2:8080 check port 8080
    server west-3 west-3:8080 check port 8080

listen stats
    bind :8081
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /